
MONGODB_CONNECTION_STRING = Your db  url
AUTH_SECRET =  Auth secret key

GOOGLE_CLIENT_ID = Google client id
GOOGLE_CLIENT_SECRET = Google client secret

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = Stripe public key
STRIPE_SECRET_KEY = stripe secret key

RESEND_API_KEY = Resend api key

NEXT_PUBLIC_BASE_URL = Base url